# Telegram Bot (обязательно)
TELEGRAM_BOT_TOKEN=ВАШ_ТОКЕН_ОТ_BOTFATHER
TELEGRAM_CHAT_ID=ВАШ_CHAT_ID

# PostgreSQL (Render даст строку подключения)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Server
PORT=5050
